<!--
  Generated template for the MesAnnoncesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="bleu">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title text-center >Mes Evenements</ion-title>
  </ion-navbar>

</ion-header>


<ion-content> <!-- class="cards-bg" -->

  <!-- Les annonces de l'utilisateur-->
  <ion-list>
    <ion-item style="background-color:white" *ngFor="let annonce of Annonces" (click)="showAnnonce(annonce)">
      <ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>{{annonce.title}}</h2>
      <p>Parution: 10/11/2018</p>
      <p>Echéance: 10/11/2018</p>
      <ion-avatar item-end>
        <img src="img/avatar-cher.png">
      </ion-avatar>
      <!-- <ion-badge item-end>{{annonce.nbLike}}</ion-badge> -->
    </ion-item>
  </ion-list>

  <!--
  <ion-card style="background-color:white" *ngFor="let annonce of Annonces" (click)="showAnnonce(annonce)">

    <ion-grid>
      <ion-row no-padding>
        <ion-col col-9>
          <ion-item style="background-color:white">
            <ion-avatar item-start>
              <img src="assets/img/marty-avatar.png">
              <h2>{{annonce.title}}</h2>
              <p>Parution: 10/11/2018</p>
              <p>Echéance: 10/11/2018</p>
            </ion-avatar>

          </ion-item>
        </ion-col>

        <ion-col col-3>
          <button ion-button clear small color="danger" icon-start>
            <ion-badge item-end>260 ème</ion-badge>
          </button>
        </ion-col>

          <ion-col col-2 text-right>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='share-alt'></ion-icon>
            </button>
          </ion-col>

      </ion-row>
        <ion-row no-padding>
          <ion-col col-12>
            {{annonce.Message}}
          </ion-col>
        </ion-row>

    </ion-grid>


    <ion-card-content>
      <p>
      </p>
    </ion-card-content>
  </ion-card>

  -->





  <ion-fab right bottom (click)="addAnonce()">
    <button ion-fab color="bleu">
      <ion-icon color="light" ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
