<!--
  Generated template for the AddAnnoncesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="bleu">
    <ion-title text-center>Ajouter une annonce</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <form class="form" (ngSubmit)="btnSubmit()" [formGroup]="loginForm">
    <ion-list>
        <!-- <div padding-horizontal> -->
          <ion-item>
            <ion-label floating>Titre</ion-label>
            <ion-input class="input" type="text" placeholder="Titre" formControlName="title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea style="width:100%; height:100px" type="textarea" placeholder="Votre annonce" formControlName="Message"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-icon item-start ios="ios-camera" md="md-camera" (tap)="uploadHandler()"></ion-icon>
            <div item-content>
              <img *ngIf="image" [src]="image">
              <ng-container *ngIf="progress | async as percent">
                <progress [value]="percent" max="100"></progress>
              </ng-container>
            </div>
          </ion-item> 
          {{progress | json}}
    </ion-list>

        
            
        
            
        <!--  </div> -->
    
   

    <!-- Image -->
    <div padding-horizontal>
    

    <button ion-button (tap)="uploadHandler()">
      Upload!
    </button>
    <button ion-button (tap)="task.pause()">
      Pause
    </button>

    <button ion-button (tap)="task.resume()">
      Resume
    </button>

    </div>
    
    <div padding-horizontal>
      <div class="form-error">{{loginError}}</div>
      <button ion-button full type="submit" [disabled]="!loginForm.valid">Creer Annonce</button>
    </div>
  </form>

  


  
  
<!--
  Uploaded File: <a *ngIf="this.url" href="{{this.url}}">{{this.url}}</a>
  <button ion-button (click)="uploadHandler()">Upload Image</button>
-->
<!--  <input style="display: none;" id="image" name="image" type="file" (change)="upload()"> -->
</ion-content>
